.goog-menu {
    // Move the menu 1 pixel up to cover up the bottom part of the menu
    margin-top: -1px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);

    // Change the hover color to something we want
    .goog-menuitem-highlight {
        background-color: #e4e4e4;
        border-color: #e4e4e4;
    }
}
